red/.flows_pi-VirtualBox.json.backup
[{"id":"fef974c.1838988","type":"tab","label":"OPC"},{"id":"b9946b06.6dd59","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://10.49.39.4:4840","login":false},{"id":"fffe9e67.5e8b78","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://10.49.39.4:4840","login":false},{"id":"942b0822.a08728","type":"http in","z":"fef974c.1838988","name":"Test","url":"/Umrichter/Start","method":"post","swaggerDoc":"","x":64.5,"y":50,"wires":[["7fa0bea5.da9d68"]]},{"id":"7fa0bea5.da9d68","type":"function","z":"fef974c.1838988","name":"","func":"msg.payload = msg.req.body;\nreturn msg;","outputs":1,"noerr":0,"x":409.5,"y":44,"wires":[["ccc0c51d.43c5c8"]]},{"id":"ccc0c51d.43c5c8","type":"debug","z":"fef974c.1838988","name":"","active":true,"console":"false","complete":"payload","x":565.5,"y":49,"wires":[]},{"id":"1c80e07e.0bddb8","type":"OpcUa-Client","z":"fef974c.1838988","endpoint":"b9946b06.6dd59","action":"write","time":"1","timeUnit":"s","name":"HMI_Start","x":1491,"y":500,"wires":[[]]},{"id":"24c3c16d.08831e","type":"OpcUa-Item","z":"fef974c.1838988","item":"ns=4;s=|var|CODESYS Control for Raspberry Pi SL.Application.PLC_PRG.HMI_start","datatype":"Boolean","value":"","name":"test","x":1305,"y":501,"wires":[["1c80e07e.0bddb8"]]},{"id":"b7398987.5fcd88","type":"http in","z":"fef974c.1838988","name":"Http Post Start","url":"/Umrichter/Start","method":"post","swaggerDoc":"","x":102,"y":141,"wires":[["fc30c0fb.e38e9","9c242615.269e3"]]},{"id":"a284bc6e.d519a8","type":"OpcUa-Client","z":"fef974c.1838988","endpoint":"fffe9e67.5e8b78","action":"write","time":"1","timeUnit":"s","name":"HMI_Start","x":897,"y":139,"wires":[[]]},{"id":"b1666e93.b33948","type":"OpcUa-Item","z":"fef974c.1838988","item":"ns=4;s=|var|CODESYS Control for Raspberry Pi SL.Application.PLC_PRG.HMI_start","datatype":"Boolean","value":"","name":"test","x":711,"y":140,"wires":[["a284bc6e.d519a8"]]},{"id":"540de9e9.cc331","type":"change","z":"fef974c.1838988","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":494,"y":142,"wires":[["b1666e93.b33948"]]},{"id":"fc30c0fb.e38e9","type":"exec","z":"fef974c.1838988","command":"inject","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":310,"y":142.5,"wires":[[],["540de9e9.cc331"],[]]},{"id":"9c242615.269e3","type":"http response","z":"fef974c.1838988","name":"","x":354,"y":96,"wires":[]},{"id":"1e171ede.dd5bb1","type":"exec","z":"fef974c.1838988","command":"inject","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":314,"y":242,"wires":[[],["b82f80c2.584008"],[]]},{"id":"b82f80c2.584008","type":"change","z":"fef974c.1838988","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":498,"y":241.5,"wires":[["d339f7bf.04bfe"]]},{"id":"2ad2af03.b3c728","type":"http in","z":"fef974c.1838988","name":"Http Post Stop","url":"/Umrichter/Stop","method":"post","swaggerDoc":"","x":106,"y":240.5,"wires":[["1e171ede.dd5bb1","2aa6a7f6.8f6378"]]},{"id":"d339f7bf.04bfe","type":"OpcUa-Item","z":"fef974c.1838988","item":"ns=4;s=|var|CODESYS Control for Raspberry Pi SL.Application.PLC_PRG.HMI_start","datatype":"Boolean","value":"","name":"test","x":715,"y":239.5,"wires":[["39b5bcaf.c136ec"]]},{"id":"2aa6a7f6.8f6378","type":"http response","z":"fef974c.1838988","name":"","x":358,"y":195.5,"wires":[]},{"id":"39b5bcaf.c136ec","type":"OpcUa-Client","z":"fef974c.1838988","endpoint":"fffe9e67.5e8b78","action":"write","time":"1","timeUnit":"s","name":"HMI_Stop","x":891,"y":238.5,"wires":[[]]},{"id":"12a566b2.555ed1","type":"http in","z":"fef974c.1838988","name":"Http Post Pos","url":"/Umrichter/Pos","method":"post","swaggerDoc":"","x":92,"y":349.5,"wires":[["428b7d86.8d4de4","d9cf719f.dd8bc8","bd6ac5f6.27589"]]},{"id":"428b7d86.8d4de4","type":"http response","z":"fef974c.1838988","name":"","x":354,"y":304.5,"wires":[]},{"id":"d9cf719f.dd8bc8","type":"debug","z":"fef974c.1838988","name":"","active":true,"console":"false","complete":"payload","x":228,"y":413,"wires":[]},{"id":"bf2aadf1.56712","type":"inject","z":"fef974c.1838988","name":"Write","topic":"ns=4;s=|var|CODESYS Control for Raspberry Pi SL.Application.PLC_PRG.HMI_Pos;datatype=UInt32","payload":"4000","payloadType":"num","repeat":"","crontab":"","once":false,"x":125,"y":470,"wires":[["f0288eb5.a36f38"]]},{"id":"bd6ac5f6.27589","type":"function","z":"fef974c.1838988","name":"","func":"msg.payload = msg.req.body;\nmsg.payload = parseInt(msg.payload);\nmsg.topic = \"ns=4;s=|var|CODESYS Control for Raspberry Pi SL.Application.PLC_PRG.HMI_Pos;datatype=UInt32\";\nmsg.req = null;\nmsg.res = null;\nvar newMsg = { payload: msg.payload.length };\nnewMsg.payload = msg.payload;\nnewMsg.topic = msg.topic;\nreturn  newMsg;","outputs":1,"noerr":0,"x":299,"y":352,"wires":[["e4a08731.f2aaa8"]]},{"id":"f0288eb5.a36f38","type":"debug","z":"fef974c.1838988","name":"","active":true,"console":"false","complete":"true","x":484,"y":499,"wires":[]},{"id":"e4a08731.f2aaa8","type":"debug","z":"fef974c.1838988","name":"","active":true,"console":"false","complete":"true","x":681,"y":453,"wires":[]},{"id":"717a9a23.f600a4","type":"debug","z":"fef974c.1838988","name":"","active":true,"console":"false","complete":"payload","x":463,"y":427,"wires":[]}]