red/.flows_pi-virtual-machine.json.backup
[{"id":"2fc56b4d.481784","type":"tab","label":"Main Page"},{"id":"165bf7ba.c08af8","type":"tab","label":"Flow 2"},{"id":"2c17ad82.356732","type":"OpcUa-Endpoint","z":"2fc56b4d.481784","endpoint":"opc.tcp://10.49.39.4:4840","login":false},{"id":"bce83ff8.6c924","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://10.49.39.42:4840","login":false},{"id":"ec199c02.cff2f","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://10.49.39.42:4840","login":false},{"id":"a88bb6a1.444868","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://10.49.39.42:4840","login":false},{"id":"54dd07ca.6944b8","type":"http in","z":"2fc56b4d.481784","name":"Http Post Start","url":"/Umrichter/Start","method":"post","swaggerDoc":"","x":122,"y":79,"wires":[["bb3d16bb.a3e218"]]},{"id":"ea08e90c.b8c7e8","type":"OpcUa-Client","z":"2fc56b4d.481784","endpoint":"ec199c02.cff2f","action":"write","time":"1","timeUnit":"s","name":"HMI_Start","x":917,"y":77,"wires":[["eae96813.ac3a08"]]},{"id":"c1954859.20bcd8","type":"OpcUa-Item","z":"2fc56b4d.481784","item":"ns=4;s=|var|CODESYS Control for Raspberry Pi SL.Application.PLC_PRG.HMI_start","datatype":"Boolean","value":"","name":"test","x":731,"y":78,"wires":[["ea08e90c.b8c7e8"]]},{"id":"32580249.4e676e","type":"http in","z":"2fc56b4d.481784","name":"Http Post Stop","url":"/Umrichter/Stop","method":"post","swaggerDoc":"","x":117,"y":178.5,"wires":[["b17a1bf3.54d368","7af399c.cb8ae68"]]},{"id":"6deb7e3.be0c38","type":"OpcUa-Item","z":"2fc56b4d.481784","item":"ns=4;s=|var|CODESYS Control for Raspberry Pi SL.Application.PLC_PRG.HMI_start","datatype":"Boolean","value":"","name":"test","x":735,"y":177.5,"wires":[["ea08e90c.b8c7e8"]]},{"id":"7a102d2b.708b44","type":"http in","z":"2fc56b4d.481784","name":"Http Post Pos","url":"/Umrichter/Pos1","method":"post","swaggerDoc":"","x":119,"y":288.5,"wires":[["427a64a4.0b34dc","9a994a16.efac58"]]},{"id":"427a64a4.0b34dc","type":"function","z":"2fc56b4d.481784","name":"Set Payload","func":"var newmsg={};\nnewmsg.payload = msg.req.body;\nreturn newmsg;","outputs":1,"noerr":0,"x":546,"y":288,"wires":[["e1d37fdc.24e"]]},{"id":"e1d37fdc.24e","type":"OpcUa-Item","z":"2fc56b4d.481784","item":"ns=4;s=|var|CODESYS Control for Raspberry Pi SL.Application.PLC_PRG.HMI_Pos","datatype":"UInt32","value":"","name":"test","x":738,"y":286,"wires":[["ea08e90c.b8c7e8"]]},{"id":"b17a1bf3.54d368","type":"function","z":"2fc56b4d.481784","name":"Set Payload","func":"var newmsg={};\nnewmsg.payload = msg.req.body;\nreturn newmsg;","outputs":1,"noerr":0,"x":543,"y":178,"wires":[["6deb7e3.be0c38"]]},{"id":"bb3d16bb.a3e218","type":"function","z":"2fc56b4d.481784","name":"Set Payload","func":"var newmsg={};\nnewmsg.payload = msg.req.body;\nreturn newmsg;","outputs":1,"noerr":0,"x":537,"y":77,"wires":[["c1954859.20bcd8"]]},{"id":"490c2763.54f378","type":"OpcUa-Client","z":"165bf7ba.c08af8","endpoint":"a88bb6a1.444868","action":"read","time":"","name":"HMI_Pos","x":593,"y":67,"wires":[["efcd63b.472d8a"]]},{"id":"a4504c03.ea685","type":"OpcUa-Item","z":"165bf7ba.c08af8","item":"ns=4;s=|var|CODESYS Control for Raspberry Pi SL.Application.PLC_PRG.HMI_Pos","datatype":"UInt32","value":"","name":"test","x":434,"y":67,"wires":[["490c2763.54f378"]]},{"id":"939f9c63.71991","type":"http response","z":"165bf7ba.c08af8","name":"","x":900,"y":67,"wires":[]},{"id":"efcd63b.472d8a","type":"template","z":"165bf7ba.c08af8","name":"","field":"payload","fieldType":"msg","syntax":"mustache","template":"{{ payload }}","x":752,"y":67,"wires":[["939f9c63.71991"]]},{"id":"e13370f1.0e315","type":"http in","z":"165bf7ba.c08af8","name":"","url":"/Startup/Umrichter/Pos1","method":"post","swaggerDoc":"","x":193,"y":67,"wires":[["a4504c03.ea685"]]},{"id":"e4f9e248.8108d","type":"OpcUa-Client","z":"165bf7ba.c08af8","endpoint":"a88bb6a1.444868","action":"read","time":"","name":"HMI_Pos","x":594,"y":121,"wires":[["331147dc.346328"]]},{"id":"331147dc.346328","type":"template","z":"165bf7ba.c08af8","name":"","field":"payload","fieldType":"msg","syntax":"mustache","template":"{{ payload }}","x":753,"y":121,"wires":[["f61527fe.57ebd8"]]},{"id":"2ffe0743.81c068","type":"OpcUa-Item","z":"165bf7ba.c08af8","item":"ns=4;s=|var|CODESYS Control for Raspberry Pi SL.Application.PLC_PRG.HMI_Pos","datatype":"UInt32","value":"","name":"test","x":435,"y":121,"wires":[["e4f9e248.8108d"]]},{"id":"f61527fe.57ebd8","type":"http response","z":"165bf7ba.c08af8","name":"","x":901,"y":121,"wires":[]},{"id":"1dce42b5.94828d","type":"http in","z":"165bf7ba.c08af8","name":"","url":"/Startup/Umrichter/Drehzahle1","method":"post","swaggerDoc":"","x":214,"y":121,"wires":[["2ffe0743.81c068"]]},{"id":"eae96813.ac3a08","type":"template","z":"2fc56b4d.481784","name":"","field":"payload","fieldType":"msg","syntax":"mustache","template":"{{ 200 }}","x":1095,"y":78,"wires":[["5f89394f.83fa48"]]},{"id":"5f89394f.83fa48","type":"http response","z":"2fc56b4d.481784","name":"","x":1243,"y":78,"wires":[]},{"id":"9a994a16.efac58","type":"http response","z":"2fc56b4d.481784","name":"","x":376,"y":250,"wires":[]},{"id":"7af399c.cb8ae68","type":"http response","z":"2fc56b4d.481784","name":"","x":378,"y":133.5,"wires":[]}]